extends layout

block content
  h1= title
  -let items = results
  div(class="container-fluid")
    div(class="row")
      each item,index in items
        div(class="col-sm-2",onClick=`buy(${index})`)
          p  #{item.drink_type}
          p  #{item.drink_size}
          p  #{item.drink_cost}
  script.
    function buy(N) {
      N=N+1;
      alert('You purchased item '+N);
    }