extends layout

block content
  h1= title
  -let items = results
  - let createpage = `dispatch(\"/Drink/create")`
  button.btn( class="btn-primary ml-1", onclick= createpage) Create page
  div(class="container-fluid")
   div(class="row m-1")
    each item in items  
     - let destination = `dispatch(\"/Drink/update?id=${item._id}\")`
     - let detailpage = `dispatch(\"/Drink/detail?id=${item._id}\")`
     - let deletepage = `dispatch(\"/Drink/delete?id=${item._id}\")` 
     div(class="row-sm-2", class="m-1") Item #{item.drink_type}(#{item.drink_size}) is #{item.drink_cost}
      button.btn( class="btn-primary ml-1", onclick= destination, style='margin-right: 10px;') Update
      button.btn( class="btn-primary ml-1", onclick= detailpage, style='margin-right: 10px;') Detail page
      button.btn( class="btn-primary ml-1", onclick= deletepage, style='margin-right: 10px;') Delete page


  script.
   function dispatch(path){
     window.location.href=path
   }
 